
.cart-icon {
  position: relative;
  width:2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;

  .shopping-icon{
    width:100%;
  }
  
  .item-count {
    position: absolute;
    font-size: 12px;
    left:50%;
    top:0;
    transform: translateX(-50%);
  }
}



.cart-dropdown {
  position: absolute;
  width:240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding:20px;
  top: 80px;
  right:0;
  z-index: 5;
  border: 1px solid black;

  .cart-items{
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}


