.btn {
  padding: 1rem 2rem;
  color: #000;
  font-size: 1.3rem;
  cursor: pointer;
  border: 1px solid #000;

  &.shop {
    background-color: yellow;
  }

  &.add-to-cart {
    background-color: purple;
    color: #fff;
  }
}