@import '../App/App.scss';


.btn {
  padding: 1rem 2rem;
  color: inherit;
  font-size: 1.3rem;
  cursor: pointer;
  border: 1px solid rgb(122, 122, 122);

  &.shop {
    background-color: transparent;
  }

  &.add-to-cart {
    background-color: $pink;
  }
}