// Colors
$black:rgb(20, 20, 20);
$grey:#787777;
$light_grey: #cfcdcd;
$pink: #f7dada;
$light_pink: #fdf5f5;



html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  color: $black;
  font-family: 'Raleway', sans-serif;
}

.inner-wrapper {
  max-width: 1300px;
  width:100%;
  margin:0 auto;
  padding: 3rem 1rem;
}
