@import '../App/App.scss';

.item-preview{
  display:flex;
  justify-content: center;

  
  .item{
    border: 1px solid #000;
    margin: 0 1rem; 
    position: relative;

    &:hover {
      .image-item{
        opacity: 0.8;
      }
      .custom-button{
        opacity: 0.85;
        display: flex;
      }
    }
  
    .image-item{
      width:300px;
      height: 300px;
      background-size:cover;
      background-position: center;
    }
    .preview-content {
      display:flex;
      justify-content: space-between;
    }

  }

  .custom-button{
    position: absolute;
    opacity: 0.7;
    left: 0;
    right:0;
    margin:0 auto;
    bottom:20px;
     display: none;
  }


}


