@import '../App/App.scss';


.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff;
  

  .logo{
    img {
      max-width:240px;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    width:600px;
    justify-content: center;
    li{
      flex: 1;
    }
  }
  .logo-image {
    max-width:100%;
    width:80%;
  }
}