.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  .logo{
    margin: 1rem 0 1rem 2rem;
  }
  ul {
    list-style-type: none;
    display: flex;
    width:600px;
    border: 1px blue solid;
    justify-content: center;
    li{
      flex: 1;
    }
  }
}